<% provide(:title ,"About") %>

<h1>About page</h1>
<p>
  The <a href="http://www.rubytutorials.org"><em>ruby on Rails tutorials</em></a>
  is a
  <a href="http://www.rubytutorials.org/book">Book</a>and
  <a href="http://www.screencasts.rubytutorials.org">screencast series</a>
  to teach web development with
  <a href="http://www.rubyonrails.org">Ruby on Rails</a>
  This is the sample application for the tutorial.
</p>
